
<div class="container pt-5">
    <h1 class="fw-bold pb-3">Edit post</h1>

    <form class="needs-validation" action="/edit-post/<%= data._id %>?_method=PUT" method="POST">
        <input class="form-control mb-3" type="text" name="title" placeholder="Title" value="<%= data.title %>"/>
        <textarea class="form-control" rows=10 type="text" name="body" placeholder="Text"><%= data.body %></textarea>
        <input class="btn btn-info text-white mt-3" type="submit" value="Submit" />
    </form>
    
    <form action="/delete-post/<%= data._id %>" method="POST">
        <input class="btn btn-info text-white mt-3" type="submit" value="Delete" />
    </form>

</div>
