
<section>
    <div class="my-5 container">
        <h1 class="fw-bold mb-3">Log In</h1>
        <form action="/admin" method="POST">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" placeholder="Enter Username" name="username">

            <label for="username" class="form-label pt-2">Password</label>
            <input type="password" class="form-control" placeholder="Enter Password" name="password">

            <button type="submit" class="btn black-btn mt-3">Login</button>
        </form>

    </div>
    <div class="container pb-5">
        <h1 class="fw-bold mb-3">Register</h1>
        <form action="/register" method="POST">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" placeholder="Enter Username" name="username">

            <label for="username" class="form-label pt-2">Password</label>
            <input type="password" class="form-control" placeholder="Enter Password" name="password">

            <button type="submit" class="btn black-btn mt-3">Register</button>
        </form>
    </div>
  </section>
  