<%- include("partials/header.ejs") %>

<div class="text-secondary pt-4 pb-5 px-5" id="home-hero">
    <div class="py-5">
      <h1 class="fw-bold text-white mb-4">About</h1>
      <div class="col-lg-9">
        <p class="fs-5 text-white">
            Our goal is to provide people a platform for their journalling journey!
        </p>
      </div>
    </div>
  </div>
<div>
    <div class="py-5 px-5">
        <h1 class="fw-bold mb-4">Contact Us</h1>
        <div class="col-lg-9">
            <p class="fs-5">
                <strong>Email:</strong> katie@outlook.com <br/>
                <strong>Phone:</strong> 2028395734985 <br/>
            </p>
        </div>
      </div>
</div>

<%- include("partials/footer.ejs") %>