<%- include("partials/header.ejs") %>

<section>
    <div class="text-secondary pt-4 pb-5 px-5" id="home-hero">
        <div class="py-5">
          <h1 class="fw-bold text-white mb-4">Explore</h1>
          <div class="col-lg-9">
            <p class="fs-5 text-white">
                Search through ALL your previous blogs!
            </p>
          </div>
        </div>
      </div>
    <div>
</section>
<section>
    <div class="py-5 px-5">
        <h1 class="fw-bold pb-5">All posts</h1>
    </div>
</section>
    

<%- include("partials/footer.ejs") %>