
<div class="container pt-5">
    <h1 class="fw-bold"><%= data.title %></h1>
    <p class="article-date pb-3"><%= data.createdAt.toDateString() %></p>
    <p>
        <%= data.body %>
    </p>
</div>
