<%- include("partials/header.ejs") %>

<div class="py-5 px-5">
    <h1 class="fw-bold pb-3">Write</h1>
    <form class="needs-validation" action="/write" method="POST">
        <input class="form-control mb-3" id="srcTitle" type="text" name="title" placeholder="Title"/>
        <textarea class="form-control" id="srcText" rows=4 type="text" name="text" placeholder="Text"></textarea>
        <input class="btn btn-outline-info mt-3 me-1" type="button" value="Save draft" />
        <input class="btn btn-info text-white mt-3" type="submit" value="Post" />
    </form>
    <h1 class="fw-bold pb-5 mt-5">Drafts</h1>
    
</div>

<%- include("partials/footer.ejs") %>